body {
    background: #cfbbae;
}

section.committed-to h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

.spotlight.style1 .content {
    padding: 3em;
}

.wrapper.style1>.inner {
    padding: 3em;
}


.content h2 {
    margin-bottom: 0px;
}

.content hr {
    margin: 25px;
    border-bottom-color: rgb(0 0 0 / 8%);
}

section.hello {
    background: #e9e0db;
}

section.committed-to {
    background: #dbccc2;
}

section.private-community-yoga .content {
    max-width: 65% !important;
    margin: 0 !important;
    padding: 0 !important;
}

section.private-community-yoga .content>div {
    padding: 3em;
    margin: 0 auto;
}

section.private-community-yoga .content>div.private-yoga {
    border-bottom: 1px solid rgb(0 0 0 / 8%);
}

section.private-community-yoga .content>div.community-yoga {
    background: #e9e0db;
}

section.community-yoga {
    background: #e9e0db;
}

section.faqs {
    background: #dbccc2;
}

section.contact {}

footer {
    background: #e9e0db;
}

section.home .content {
    text-align: center;
}

section.home .content h1 {
    color: white !important;
}

section.home .content a {
    color: white !important;
}

section.home video {
    filter: blur(10px) brightness(0.6);
}

section.reviews img {
    filter: blur(5px) brightness(0.6);
}

section.reviews {
    height: 400px;
    min-height: auto !important;
    padding: 0 !important;
}

section.reviews h2 {
    color: white;
    text-align: center;
    font-size: 28px;
}

section.private-community-yoga ul {
    list-style-type: none;
    padding-left: 0px;
    font-size: 20px;
}

section.private-community-yoga p {
    font-style: italic;
    margin-bottom: 0px;
    font-size: 18px;
}

section.private-community-yoga li {
    padding-left: 0px;
}

section.faqs h3 {
    font-weight: 400;
}

footer .copyright {
    margin-bottom: 0px;
}

footer .logo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

section.faqs section.last-faq {
    width: 100% !important;
}

/* Carousel */

  
 