body {
    background: #a7b199;
}

section.committed-to h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

.wrapper.style1>.inner {
    padding: 3em;
}

.content h2 {
    margin-bottom: 0px;
}

.content hr {
    margin: 25px;
    border-bottom-color: rgb(0 0 0 / 8%);
}

section.hello {
    background: #e3e9db;
}

section.committed-to {
    background: #bec9b0;
}

@media screen and (min-width: 981px) {
    section.private-community-yoga .content {
        max-width: 65% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    section.private-community-yoga .content>div.private-yoga {
        border-bottom: 1px solid rgb(0 0 0 / 8%);
    }
    section.private-community-yoga .content>div {
        padding: 3em;
        margin: 0 auto;
    }
    a.book-now-button {
        font-size: 0.5rem !important;
        font-style: normal;
    }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    section.private-community-yoga .content {
        margin: 0 !important;
        padding: 0 !important;
    }

    section.private-community-yoga .content>div {
        padding: 2.5rem 2rem 0.5rem 2rem;
        margin: 0 auto;
    }
    .wrapper.style1>.inner {
        padding: 1em;
    }
    .items.style2 {
        margin: 1rem 0;
    }
    .items.style2.big>section {
        padding: 2.625rem 1.625rem 0.625rem 1.625rem !important;
    }
}

section.private-community-yoga .content>div.community-yoga {
    background: #e3e9db;
}

section.community-yoga {
    background: #e9e0db;
}

section.faqs {
    background: #bec9b0;
}

footer {
    background: #e3e9db;
}

section.home .content {
    text-align: center;
}

section.home .content h1 {
    color: white !important;
}

section.home .content a {
    color: white !important;
}

section.home video {
    filter: blur(6px) brightness(0.6);
}

section.reviews img {
    filter: blur(5px) brightness(0.6);
}

section.reviews {
    height: 400px;
    min-height: auto !important;
    padding: 0 !important;
}

section.reviews h2 {
    color: white;
    text-align: center;
    font-size: 28px;
}

section.private-community-yoga ul {
    list-style-type: none;
    padding-left: 0px;
    font-size: 20px;
}

section.private-community-yoga p {
    font-style: italic;
    margin-bottom: 0px;
    font-size: 18px;
}

section.private-community-yoga li {
    padding-left: 0px;
}

section.faqs h3 {
    font-weight: 400;
}

footer .copyright {
    margin-bottom: 0px;
}

footer .logo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

section.faqs section.last-faq {
    width: 100% !important;
}

.payment-page .nav-tabs .nav-link.active {
    background: none;
    border: 0px solid transparent;
}

.payment-page .nav-tabs {
    border: 0px solid transparent;
}

.header-menu {
    position: absolute;
    top: 0;
    z-index: 150000;
    color: white;
    padding: 10px 35px;
    background: rgba(0, 0, 0, 0.5);
}

.header-menu a {
    color: white;
    text-decoration: none;
}

.header-menu a:first-of-type {
    padding-right: 10px;
}

.header-menu a:hover {
    text-decoration: underline;
}