body, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
}

.nav-link {
}

.accordion-button {
    font-size: 0.65em;
}

.navbar {
    background: #cfbbae;
}

.navbar a {
}

.navbar-brand:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active{
    text-decoration: underline;
}

.accordion-button:not(.collapsed) {
    background: none;
}
.offerings a {
    color: inherit !important;
}

.events-sign-up-button {
    background: #794bb7;
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.override-primary {
    border-color: #794bb7;
    color: #794bb7;
}

.override-primary:hover {
    background: #794bb7;
    border-color: #794bb7;
}